[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
loguru = "*"
scikit-learn = "*"
trueskill = "*"
xgboost = "*"
keras-rl = "*"
tensorflow = "*"
cma = "*"

[requires]
python_version = "3.7"
